/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General Styling */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #4C85DE;
    position: relative;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #707070;
}

h2 {
    color: #707070;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    margin: 4vmax 0 0 3vmax;
}

section {
    padding-top: 30px;
    margin-top: -30px;
}

.box {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 4em;
}

/* Navigation Bar */
.navbar-nav > li {
    padding-left:30px;
    padding-right:30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Home Section */
nav {
    background-color: black;
    opacity: 0.7;
}

.desert {
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#title {
    height: 100vh;
    padding-top: 45vh;
}

.title {
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 5.5em;
}

.name {
    color: #CCD5FA;
}

/* About Me */
.profile{
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
}

#description {
    margin: 2vmax 3vmax 4vmax 3vmax;
}

/* Experience */
.top {
    padding-top: 20px;
}

.vl {
    border-left: 1px solid #707070;
    height: 100%;
    margin-left: 20px;
}

.circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-top: -188px;
    margin-left: 8px
}

.yellow {
    background-color: #EFB532;
}

.blue {
    background-color: #00539B;
}

.red {
    background-color: #DE2C2C;
}

.experience {
    background-color: white;
    border: 1px solid #707070;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: 30px 11vw 30px 0;
}

.experience-text {
    margin: 25px;
    font-weight: 300;
}

.experience-text > p, #read-more {
    margin: 5px;
}

#read-more {
    color: #007bff;
}

p.position {
    font-weight: 500;
}

.logo {
    height: 100px;
    margin-left: -120px;
}

.bottom {
    padding-bottom: 30px;
}

/* Projects */
.project {
    margin: 25px;
}

.read-more {
    color: #007bff;
}

/* School */
.school {
    margin: 25px;
}

.icon {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
}

/* Footer */
.footer {
    background-color: white;
    margin-top: 4em;
    padding: 15px;
}

.social-media {
    height: 30px;
}

@media only screen and (max-width: 1000px) {
    .title {
        font-size: 13vw;
    }

    .profile {
        margin: .5em 0 3em 0;
    }

    .vl {
        margin-left: 5px;
    }

    .circle {
        height: 15px;
        width: 15px;
        margin-top: -200px;
        margin-left: -2px;
    }

    .experience {
        margin-right: auto;
    }

    .logo {
        height: 50px;
    }

    .oit {
        margin-top: -140px;
        margin-left: -60px;
    }

    .store {
        margin-top: -130px;
        margin-left: -75px;
    }

    .stewart {
        margin-top: -125px;
        margin-left: -60px;
    }
}

@media only screen and (min-width: 1000px) {
    nav {
        height: 10vh;
    }
}